@media(min-width:100px) {
    .container {
        max-width: 575px;
    }

    html {
        font-size: 5px;
    }

    .contact-info {
        padding: 1rem;
    }

    .about-us-text {
        padding: 90px 0 60px;
    }

    .achivements-data span {
        font-size: 4rem;
        line-height: 7.4rem;
    }
}

@media(min-width:576px) {
    html {
        font-size: 10px;
    }

    .container {
        max-width: 767px;
    }

}

@media(min-width:768px) {
    .container {
        max-width: 991px;
    }

    html {
        font-size: 10px;
    }

    .contact-info {
        padding-left: 10rem;
    }

    .about-us-text {
        padding: 181px 0;
    }

    .achivements-data span {
        font-size: 7rem;
        line-height: 7.4rem;
    }
}

@media(min-width:992px) {
    .container {
        max-width: 1116px;
    }

    .contact-info {
        padding-left: 10rem;
    }
}

@media(min-width:1200px) {
    body {
        max-width: 1440px;
    }

    .contact-info {
        padding-left: 10rem;
    }
}